EstiaSYS/Web References/gr.gsis.www1/RgWsPublic2Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://rgwspublic2/RgWsPublic2Service" xmlns:ns1="http://rgwspublic2/RgWsPublic2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RgWsPublic2Service" targetNamespace="http://rgwspublic2/RgWsPublic2Service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://rgwspublic2/RgWsPublic2Service">
      <xsd:import schemaLocation="https://www1.gsis.gr:443/wsaade/RgWsPublic2/RgWsPublic2?xsd=1" namespace="http://rgwspublic2/RgWsPublic2" />
      <xsd:complexType name="rgWsPublic2VersionInfoRequestType" />
      <xsd:complexType name="rgWsPublic2VersionInfoResponseType">
        <xsd:sequence>
          <xsd:element name="result" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="rgWsPublic2AfmMethodRequestType">
        <xsd:sequence>
          <xsd:element name="INPUT_REC" type="ns1:rg_ws_public2_input_rtType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="rgWsPublic2AfmMethodResponseType">
        <xsd:sequence>
          <xsd:element name="result">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" ref="ns1:rg_ws_public2_result_rtType" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="rgWsPublic2VersionInfo" type="tns:rgWsPublic2VersionInfoRequestType" />
      <xsd:element name="rgWsPublic2VersionInfoResponse" type="tns:rgWsPublic2VersionInfoResponseType" />
      <xsd:element name="rgWsPublic2AfmMethod" type="tns:rgWsPublic2AfmMethodRequestType" />
      <xsd:element name="rgWsPublic2AfmMethodResponse" type="tns:rgWsPublic2AfmMethodResponseType" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="rgWsPublic2VersionInfoRequest">
    <wsdl:part name="rgWsPublic2VersionInfoRequest" element="tns:rgWsPublic2VersionInfo" />
  </wsdl:message>
  <wsdl:message name="rgWsPublic2VersionInfoResponse">
    <wsdl:part name="rgWsPublic2VersionInfoResponse" element="tns:rgWsPublic2VersionInfoResponse" />
  </wsdl:message>
  <wsdl:message name="rgWsPublic2AfmMethodRequest">
    <wsdl:part name="rgWsPublic2AfmMethodRequest" element="tns:rgWsPublic2AfmMethod" />
  </wsdl:message>
  <wsdl:message name="rgWsPublic2AfmMethodResponse">
    <wsdl:part name="rgWsPublic2AfmMethodResponse" element="tns:rgWsPublic2AfmMethodResponse" />
  </wsdl:message>
  <wsdl:portType name="RgWsPublic2Service_Interface">
    <wsdl:operation name="rgWsPublic2VersionInfo">
      <wsdl:input message="tns:rgWsPublic2VersionInfoRequest" />
      <wsdl:output message="tns:rgWsPublic2VersionInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="rgWsPublic2AfmMethod">
      <wsdl:input message="tns:rgWsPublic2AfmMethodRequest" />
      <wsdl:output message="tns:rgWsPublic2AfmMethodResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RgWsPublic2Service_SOAP_HTTP" type="tns:RgWsPublic2Service_Interface">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="rgWsPublic2VersionInfo">
      <soap12:operation soapAction="http://rgwspublic2/RgWsPublic2Service:rgWsPublic2VersionInfo" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rgWsPublic2AfmMethod">
      <soap12:operation soapAction="http://rgwspublic2/RgWsPublic2Service:rgWsPublic2AfmMethod" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RgWsPublic2Service">
    <wsdl:port name="RgWsPublic2ServicePort" binding="tns:RgWsPublic2Service_SOAP_HTTP">
      <soap12:address location="https://www1.gsis.gr:443/wsaade/RgWsPublic2/RgWsPublic2" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>